body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
 h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    font-weight: 600;
 }
.main {
    padding: 20px;
    background: url('images/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

header {
    background-color: #90e7ad;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.logo span {
    text-shadow: 2px 2px 2px rgb(89, 126, 121);
    font-family: "Jaro", sans-serif;
    font-size: 65px;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.title {
    margin-left: 20px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

nav.menu {
    display: flex;
    align-items: center;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    display: inline;
    margin-right: 20px;
}

nav.menu ul li:last-child {
    margin-right: 0;
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #90e7ad;
    padding: 5px 0;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-toggle:hover+.dropdown-menu{
    display: block;
}
nav.menu ul li a:hover {
    color: #f8911c;
}
.dropdown-menu:hover{
    display: block;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: #5eb58f;
}

.secondary-menu {
    display: none;
}

.menu-toggle {
    display: none;
}

.buttons {
    display: flex;
}

.buttons button {
    background-color: #fff;
    color: #5eb58f;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #9ddf9f;
}
 h1{font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 600;
    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 3%;

 }
footer {
    background-color: #24412d;
    color: #c5a78c;
    text-align: center;
    padding: 20px 0;
}

.resources,
.company,
.social {
    margin-bottom: 20px;
}

.resources h2,
.company h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.resources p,
.company p {
    color: #daf3d9;
    margin-bottom: 5px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 30px;
    margin: 0 5px;
}

nav.menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: orange;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav.menu ul li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

video { width: 100%; }

.paragraph
{
    padding: 2%;
    width: 50%;
    border-radius: 20px;
    background-color: #AFF1A9;
}

.who-we
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "first-text image";
    align-items: center;
}

.who-we h2 { padding-bottom: 2%; }

.who-we p { padding-left: 3%; }

.first-text { grid-area: first-text;}

.ligth { grid-area: image; }

.ligth img
 {
    width: 60%;
    border-radius: 20px;
}

.what-do
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "second-text image";
    align-items: center;
}

.what-do h2 { padding-bottom: 2%; }

.what-do p { padding-left: 3%; }

.second-text { grid-area: second-text; }

.letters { grid-area: image; }

.letters img
{
    width: 60%;
    border-radius: 20px;
}

.who-work
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "third-text image";
    align-items: center;
}

.who-work h2 { padding-bottom: 2%; }

.who-work p { padding-left: 3%; }

.third-text { grid-area: third-text; }

.fruit { grid-area: image; }

.fruit img
{
    grid-area: image;
    width: 60%;
    border-radius: 20px;
}

.ethical
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "fourth-text image";
    align-items: center;
}

.ethical h2 { padding-bottom: 2%; }

.ethical p { padding-left: 3%; }

.fourth-text { grid-area: fourth-text; }

.bike { grid-area: image; }

.bike img
{
    width: 60%;
    border-radius: 20px;
}

.why-us
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "fifth-text image";
    align-items: center;
}

.why-us h2 { padding-bottom: 2%; }

.why-us p { padding-left: 3%; }

.fifth-text { grid-area: fifth-text; }

.frog { grid-area: image; }

.frog img
{
    width: 60%;
    border-radius: 20px;
    max-height: 450px;
}
footer p a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: orange;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

footer p a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

@media only screen and (max-width: 860px) {
    .logo img {
        display: inline;
        width: 50px;
        height: 50px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .logo span {
        font-size: 35px;
    }

    .primary-menu {
        display: none;
    }

    .secondary-menu {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #90e7ad;
        padding: 10px;
        border: 1px solid #ddd;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: white;
    }

    .menu-toggle:hover {
        color: #ddd;
    }

    .menu-toggle:focus {
        outline: none;
    }

    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }

    .menu-toggle.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .menu-toggle.open+.secondary-menu {
        display: block;
    }
}