body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    font-weight: 600;
}
.main {
    padding: 20px;
    background: url('images/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}



video { width: 100%; }

.paragraph
{
    padding: 2%;
    width: 50%;
    border-radius: 20px;
    background-color: #AFF1A9;
}

.who-we
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "first-text image";
    align-items: center;
}

.who-we h2 { padding-bottom: 2%; }

.who-we p { padding-left: 3%; }

.first-text { grid-area: first-text;}

.ligth { grid-area: image; }

.ligth img
 {
    width: 60%;
    border-radius: 20px;
}

.what-do
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "second-text image";
    align-items: center;
}

.what-do h2 { padding-bottom: 2%; }

.what-do p { padding-left: 3%; }

.second-text { grid-area: second-text; }

.letters { grid-area: image; }

.letters img
{
    width: 60%;
    border-radius: 20px;
}

.who-work
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "third-text image";
    align-items: center;
}

.who-work h2 { padding-bottom: 2%; }

.who-work p { padding-left: 3%; }

.third-text { grid-area: third-text; }

.fruit { grid-area: image; }

.fruit img
{
    grid-area: image;
    width: 60%;
    border-radius: 20px;
}

.ethical
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "fourth-text image";
    align-items: center;
}

.ethical h2 { padding-bottom: 2%; }

.ethical p { padding-left: 3%; }

.fourth-text { grid-area: fourth-text; }

.bike { grid-area: image; }

.bike img
{
    width: 60%;
    border-radius: 20px;
}

.why-us
{
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "fifth-text image";
    align-items: center;
}

.why-us h2 { padding-bottom: 2%; }

.why-us p { padding-left: 3%; }

.fifth-text { grid-area: fifth-text; }

.frog { grid-area: image; }

.frog img
{
    width: 60%;
    border-radius: 20px;
    max-height: 450px;
}