body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    font-weight: 600;
}
.main {
    background: url('../images/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.name {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.name h1 {
    font-size: 50px;
}

.category-title {
    text-align: center;
    font-size: 36px;
    padding: 2%;
    color: #f3851e;
}

.category-divider {
    border: 0;
    height: 2px;
    background: green;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

.container {
    
    padding: 2%;
    width: 29%;
}

.category-card {
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    width: 100%;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-header {
    background-color: #f3851e;
    padding: 3%;
    text-align: center;
}

.category-header h2 {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.category-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.description {
    border-radius: 0% 0% 15px 15px;
    background-color: azure;
    padding: 5%;
    padding-bottom: 7%;
}

.orange-button {
    display: block;
    width: 100%;
    height: 50px;
    background-color: orange;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.orange-button:hover {
    background-color: rgb(199, 40, 0);
    transform: scale(1.05);
}

@media (max-width: 700px) {
    .categories {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        width: 45%; /* Para que las hamburguesas ocupen menos espacio */
        margin: 2.5%; /* Espacio entre las tarjetas */
    }
}