body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 600;
}

.main {
    padding: 20px;
    background: url('images/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

header {
    background-color: #90e7ad;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.logo span {
    text-shadow: 2px 2px 2px rgb(89, 126, 121);
    font-family: "Jaro", sans-serif;
    font-size: 65px;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.title {
    margin-left: 20px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.buttons {
    display: flex;
}

.general b{
    font-weight: 800;
}

.buttons button {
    background-color: #f08a2a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #eb0d0d;
}