body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.main {
    padding: 20px;
    background: url('../images/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}
h1
{
    font-size: x-large;
    font-family: "Jaro", sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
}

.work
{
    padding-bottom: 2%;
    font-weight: 800;
    font-size: 70px;
}

.buttons button {
    background-color: #ffffff;
    color: #5eb58f;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #9ddf9f;
}

.signup-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.signup-container form {
    margin-top: 30px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="tel"],
.signup-container input[type="password"],
.signup-container select,
.signup-container textarea {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-container button {
    width: 200px;
    height: 50px;
    background-color: #75ee6a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.signup-container button:hover {
    background-color: #f1c461;
}

.signup-container p {
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
}

.signup-container a {
    color: #AFF1A9;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}

.signup-container label {
    font-size: 20px;
    font-weight: 800;
    display: block;
    margin-top: 10px;
}

.contact-link{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    background-color: #e95116;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.contact-link:hover {
    background-color: rgb(238, 151, 52);
    transform: scale(1.05);
}

nav.menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: orange;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav.menu ul li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}


.category-card {
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10%;
    width: 50%;
    margin-left: 28%;
}
.category-card:hover {
    transform: scale(1.05);
}

.category-header {
    background-color: #f3851e;
    padding: 10px 0;
    text-align: center;
}

.category-header h2 {
    color: white;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.category-card img {
border-radius: 0 0 15px 15px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.description {
    background-color: #daf3d9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.description b{
    font-weight: 700;
}

.orange-button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
    background-color: orange;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.orange-button:hover {
    background-color: rgb(199, 40, 0);
    transform: scale(1.05);
} 

.inputfile {
    display: none;
}

.inputfile + label {
    background-color: orange;
    padding: 15px 20px;
    cursor: pointer;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 5%;
    width: 25%;
    border-radius: 15px;
    margin-left: 39%;
    margin-bottom: 10%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.inputfile + label:hover {
    background-color: #AFF1A9;
    transform: scale(1.05);
}
